[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/themes/hyde-hyde"]
	path = themes/themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
